{% extends 'base.html '%}
{% load i18n %}

{% block title %}
	{% if user.first_name and user.last_name %}
        {{ user.first_name}} {{ user.last_name }}
    {% else %}
        {{ user.username }}
    {% endif %}
{% endblock %}

{% block content %}
<div>
<form actiom='' method='POST' id='change_de'role='form'>{% csrf_token %}
	<h2>{% trans 'My profile' %}</h2>
	<!-- account details -->
	<table class="table table-bordered">
	<!-- username form -->
	<tr>
		<td>
			<div class='col-md-2'>
				<label for="username">{% trans 'Username:' %}</label>
			</div>
			<div class='col-md-4'>
    			<input type='text' class="form-control" name='username' id="username" value ='{{ user.username }}'>
    		</div>
    	</td>
	</tr>
	<!-- password form -->
	<tr>
		<td>
			<div>
				<div class='col-md-2'>
				<label for="username">{% trans 'Password:' %}</label>
			</div>
			<div class='col-md-4'>
    			<p><button class="btn btn-default" data-toggle="modal" data-target="#myModal"><strong>{% trans 'Change password' %}</strong></button></p>
			</div>
		</td>
	</tr>
</table>
<!-- personal info -->
<table class = 'table table-bordered'>
	<!-- surname form -->
	<tr>
		<td>
		<div class='col-md-2'>
			<label for="firsname">{% trans 'First name:' %}</label>
		</div>
		<div class='col-md-4'>
    		<input type='text' class="form-control" name='firstname' id="firstname" value ='{{ user.first_name }}'>
		</div>
	</td>
	</tr>
	<!-- surname form-->
	<tr>
		<td>
		<div class='col-md-2'>
			<label for='lastname'>{% trans 'Last name:' %}</label>
		</div>
		<div class='col-md-4'>
			<input type='text' class="form-control" name='lastname' id='lastname' value ='{{ user.last_name }}'>
		</div>
		</td>
	</tr>
	<!-- email form-->
	<tr>
		<td>
		<div class='col-md-2'>
			<label for='email'>{% trans 'Email address:' %}</label>
		</div>
		<div class='col-md-4'>
			<input type='email' class="form-control" name='email' id='email' value ='{{ user.email }}'>
		</div>
		</td>
	</tr>
</table>
<!-- badges -->
{% if user.is_staff %}
	<div class='well'>
		{% trans 'Staff user' %}
	</div>
{% endif %}
{% if user.is_superuser %}
	<div class='well'>
		{% trans 'Superuser (no restrctions)' %}
	</div>
{% endif %}
<button type='submit' class= 'btn btn-primary'>{% trans 'Save changes' %}</button>
</form>
<!-- password change form -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-body">
      				<form id="password_form" action="password/change/" method="post">{% csrf_token %}
      					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      					<h2 class="form-signin-heading">{% trans 'Password change' %}</h2>
      					<strong>
							{% trans 'Old password' %} <input type="password" class="form-control" name='old_password' required autofocus>
							{% trans 'New password' %} <input type="password" class="form-control" name='new_password' required>
							{% trans 'Confirm new password' %} <input type="password" class="form-control" name='new_password2' required>
						</strong>
      			</div>
      			<div class="modal-footer">
      				<input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
        			<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        		</form>
      			</div>
    		</div>
  		</div>
	</div>
</div>
{% endblock %}