<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<!-- Подключение к CSS Bootstrap-->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
		<!-- Заглавие страницы-->
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="navbar navbar-default">
        	<div class="navbar-header">
          <a class="navbar-brand" href="#">kulTasker</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          	<!-- панель навигации -->
            {% block chapter%}{% endblock %}
          </ul>
        </div>
      </div>
		<div class='container'>
			<!-- Основное тело страницы-->
			{% block content %}{% endblock %}
		</div>
		<div class='container'>
			<!-- Подложка страницы-->
			{% block footer %}
			<hr>
			<p>ГТРК "Санкт-Петербург" 2013</p>
			{% endblock %}
		</div>
		<!-- Подключение к Bootstrap Javascript -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.js'></script>
	</body>
</html>