<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<!-- Подключение к CSS Bootstrap-->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<!-- Заглавие страницы-->
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class='container'>
			<h1 class='text-muted'>Tasker</h1>
		<hr>
		<!-- Основное тело страницы-->
		{% block content %}{% endblock %}
		<!-- Подложка страницы-->
		{% block footer %}
		<hr>
		<p>ГТРК "Санкт-Петербург" 2013</p>
		{% endblock %}
		</div>
		<!-- Подключение к Bootstrap Javascript -->
		<script type="text/javascript" src="http://getbootstrap.com/assets/js/jquery.js"></script>
		<script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	</body>
</html>