{% extends 'base.html' %}
{% load date_extras %}

{% block title %} Обходы {% endblock %}
{% block optional_nav %}
{% if 'task_viewer.add_check' in request.user.get_all_permissions %}
<li>
	<a href='#' data-toggle='modal' data-target='#create-check'>Новый шаблон</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<body>
<!-- хлебные крошки -->
<ol class="breadcrumb">
  <li class='active'>Обходы</li>
</ol>
	<!-- кнопка добавить обход-->
	{% if 'task_viewer.add_check' in request.user.get_all_permissions %}
	<!-- Новый шаблон обхода -->
	<div class="modal fade" id="create-check" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-body">
      				<form id="Check_form" action="" method="post">{% csrf_token %}
      					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      					<h2 class="form-signin-heading">Введите название шаблона</h2>
						<input type="text" class="form-control" name='name' required autofocus>
      			</div>
      			<div class="modal-footer">
      				<input type="submit" class="btn btn-primary" value='Сохранить'>
        			<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        			</form>
      			</div>
    		</div>
  		</div>
	</div>
	{% endif %}
	<!--таблица шаблонов обходов-->
	<table class = 'table table-hover'>
		<tr>
			<th>Обход</th>
			<th>Последний обход</th>
			<th class ='hidden-xs'>Статус</th>
		</tr>
		<!-- Вывод элементов таблицы check-->
		{% for check in checks %}
		<tr>
			<td>
				<!-- название шаблона обхода--><!-- ссылка на даты, ссылающиеся на обход-->
				<a type="button" class="btn btn-link" href='/checks/{{ check.id }}/dates'>{{ check.name }}</a>
			</td> 
			<!-- кнопка действий -->
			<td>{% if check.last_date %}
					<!-- вывод даты последнего обхода -->
					<a type="button" class="btn btn-link" href='/checks/{{ check.id }}/dates/{{ check.date_id }}/results/'><!--{{ check.last_date|date:"H:i d-M-Y" }}-->{{ check.last_date|format }}</a>
			</td>
			<td class = 'hidden-xs'>
					{% if check.status == 1 %}
						<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}		
				{% else %}
				{% endif %}
			</td>
		</tr>		
		{% endfor %}
	</table>
</body>
{% endblock %}