{% extends 'base.html' %}

{% block title %} Новый обход {% endblock %}
{% block chapter %}
{% endblock%}

{% block content %}
<body>
	<form action = '' method='POST' role='form' class='form-horizontal'>{% csrf_token %}	
		<div class='form-group'>
			<!-- поля заполнения обхода -->
			<form action='/checks/new/' method="post" role='form' name='Check_form'>
    		{{ chk_form.as_p }}
			</form>
	<button class = 'btn btn-primary' type = 'submit' onclick = 'Submit_check();'>Сохранить</button>
	<a class = 'btn btn-default' onclick = "location.href='/checks/'">Вернуться</a>
	</form>
</body>

<script language= 'text/javascript'>
function Submit_check(){
	document.getElementById("Check_form").action = '/checks/new/'; <!-- не работаеет -->
	document.getElementById("Check_form").submit();
	return True;
}

jQuery(function(){
	$(document).ready(function(){
  	var form = jQuery('#my_form');
  	form.submit(function e(){
  		jQuery('#savetask'.attr('disabled, true')
  		jQuery('#info'.prepend('Сохранение...')
  		jQuery('#ajaxwrapper').load(
  			form.attr('action') + '#ajaxwrapper',
  			form.serializeArray(),
  			function(responseText, responseStatus) {
  				jQuery('#savetask').attr('disabled', false)
  			});
  		e.preventDefault();
  	})

</script>
{% endblock %}