{% extends 'base.html' %}

{% block title %} Обходы {% endblock %}
{% block chapter %}
	<li class="active"><a onclick="location.href='/checks/'" class='btn btn-link'>Обходы</a></li>
{% endblock %}

{% block content %}
<body>
<!-- форма вывода таблицы шаблонов обходов -->
<form name = 'Form1' method = 'GET' target ='_top'>{% csrf_token %} 
	<!-- кнопка добавления нового шаблона обхода -->
	<p><a onclick="location.href='/checks/new/'" class="btn btn-primary"><strong>Новый обход</strong></a></p>
	<!--таблица шаблонов обходов-->
	<table class = 'table'>
		<tr>
			<td>№</td>
			<td>Обход</td>
			<td></td>
		</tr>
		<!-- Вывод элементов таблицы check-->
		{% for check in checks %}
		<tr>
			<td>{{ check.id }}</td> <!-- id шаблона обхода -->
			<td>{{ check.name }}</td> <!-- название шаблона обхода-->
			<td>
			<!-- кнопка действий -->
			<div class="btn-group">
				<!-- основное действие-->
  				<button type="button" class="btn btn-default">Провести</button>
  				<!-- меню дополнительных действий-->
  				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    			<span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu">
  					<!-- провести шаблон обхода -->
    				<li><a href="#">Провести</a></li>
    				<!-- редактировать шаблон обхода -->
    				<li><a href="#">Редактировать</a></li>
    				<li class="divider"></li>
    				<!-- удалить шаблон обхода -->
    				<li><a href="#">Удалить</a></li>
  					</ul>
			</div>
			</td>
		</tr>		
		{% endfor %}
	</table>
</form>

<script language= 'javascript'>
	<!-- скрипт отправки данных на указанную страницу -->
	function Action_del()
	{
		document.Form1.action = '/checks/del/';
		document.Form1.submit();
		return true;
	}
</script>
</body>

{% endblock %}