{% extends 'base.html' %}

{% block title %} Даты обходов {% endblock %}

{% block chapter %}
	<li><a onclick="location.href='/checks/'" class='btn btn-link'>Обходы</a></li>
	<!-- Выбранный шаблон -->
	<li class="active"><a onclick="location.href='/checks/date/'" class='btn btn-link'>{{ check_name }}</a></li>
{% endblock%}

{% block content %}
<body>
	<!-- кнопка нового обхода по выбранному шаблону --><!-- onclick="location.href='/checks/'" --> 
<p><a class="btn btn-primary"><strong>Обойти</strong></a></p>
<form name = 'Form1' method = 'GET' target ='_top'>
	{% csrf_token %}
	<table class = 'table table-hover'>
		<tr>
			<td>Дата</td>
			<td>Статус</td>
		</tr>
		<!-- даты обходов -->
		{% for date in dates %}
			<tr>
				<td>{{ date.date }}</td>
				<td><span class="glyphicon glyphicon-ok"></span></td>
			</tr>		
		{% endfor %}
	</table>
	
</form>
</body>
{% endblock %}