{% extends 'base.html' %}
{% load date_extras %}

{% block title %} Даты обходов {% endblock %}

{% block optional_nav %}
{% if 'task_viewer.add_date' in request.user.get_all_permissions %}
<li>
	<a href='#' onclick='new_date()'>Обойти</a>
	<script>
	function new_date(){
		document.getElementById('new_check_form').submit();
	}
	</script>
</li>
{% endif %}
<li>
<a href = '/checks/{{ check.id }}/tasks/'>Список заданий</a>
</li>
{% endblock %}
{% block content %}
<body>
<ol class="breadcrumb">
  	<li><a href='/checks/'>Обходы</a></li>
  	<li class='active'>{{ check }}</li>
</ol>
<div class="alert alert-warning" style="display: none" id='alert'>
  <a class="close" onclick="$('.alert').hide();">×</a>
  <p><strong>Внимание!</strong> Вы действительно хотите удалить этот шаблон? Все сопряженные обходы и задания будут удалены.</p>
  <div class="alert-actions">
    <a class="btn btn-warning" id='proceed_delete'>Да</a> <a class="btn btn-default" onclick="$('.alert').hide();">Нет</a>
  </div>
</div>
<!-- кнопка нового обхода по выбранному шаблону -->
<form id='new_check_form' action='/checks/{{check.id}}/dates/new/' method='POST'>{% csrf_token %}
</form>
<form name = 'Form1' method = 'GET' target ='_top'>{% csrf_token %}
{% if dates.has_other_pages %}
<ol class="pagination">
  	{% if dates.has_previous %}
    	<li><a href="?page={{ dates.previous_page_number }}">&laquo;</a></li>
  	{% endif %}
  		<li>
  		<span class="current">
  		{{ dates.start_index }}-{{ dates.end_index }}
  		</span>
  		</li>
  	{% if dates.has_next %}
  		<li><a href="?page={{ dates.next_page_number }}">&raquo;</a></li>
  	{% endif %}
  	<li>
  	
</ol>
{% else %}
	<br>
{% endif %}
	<table class = 'table table-hover'>
		<tr>
			<th>Дата</th>
			<th>Статус</th>
		</tr>
		<!-- даты обходов -->
		{% for date in dates %}
			<tr>
				<td>
					<button type="button" class="btn btn-link" onclick="location.href='/checks/{{ date.check_id }}/dates/{{ date.id }}/results/'">
						{{ date.date|format }}
					</button>
					</td>
				<td>
					{% if date.status == True %}
							<span class="glyphicon glyphicon-ok"></span>
						{% else %}
							<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</td>			
			</tr>		
		{% endfor %}
	</table>
</form>
<div align='right'>
	<a type='button' class='btn btn-default' href='#' onclick="ondelete()">Удалить шаблон обхода<span class="glyphicon glyphicon-trash"></span></a>
          <script>
          function ondelete{{ date.id }}(){
            $('#proceed_delete').attr('href','/checks/{{ check.id }}/delete/');
            $('.alert').show();
          }
          </script>
</div>
</body>

{% endblock %}