{% extends 'base.html' %}
{% load date_extras %}

{% block title %} Taskboard - New check {% endblock %}

{% block content %}
<body>
<ol class="breadcrumb">
  	<li><a href='/checks/'><span class='glyphicon glyphicon-home'></span></a></li>
  	<li><a href='/checks/{{ check.id }}/dates/'>{{ check }}</a></li>
  	<li class = 'active'>New check</li>
  
</ol>
<form name = 'Form1' method = 'POST' target ='_top' action='/checks/{{check.id}}/dates/new/save/'>
	{% csrf_token %}
	<p><button class='btn btn-primary' type='submit'>Save</button> <a class = 'btn btn-default' href='/checks/{{check.id}}/dates/cancel/'>Cancel</a></p>
	<table class = 'table table-hover'>
		<tr>
			<td>Task</td>
			<td>Status</td>
		</tr>
		<!-- check result -->
		{% for result in results %}
			<tr>
				<td>{{ result.task }}</td>
				<td  >
					<a href='/checks/{{ check.id }}/dates/new/{{ result.id }}/change/'>
					<input type= 'hidden' name= '{{ result.task }}' value = {{ result.status }}></input>
					{% if result.status == True %}
					<span class="glyphicon glyphicon-ok-sign" ></span>
					{% else %}
					<span class="glyphicon glyphicon-minus-sign" ></span>
					{% endif %}
					</a>
				</td>
			</tr>		
		{% endfor %}
	</table>	
</form>
</body>
{% endblock %}