{% extends 'base.html' %}

{% block title %} Даты обходов {% endblock %}

{% block chapter %}
{% endblock%}

{% block content %}
<body>
<ol class="breadcrumb">
  	<li><a href='/checks/'>Обходы</a></li>
  	<li><a href='/checks/{{ check.id }}/dates/'>{{ check }}</a></li>
  	<li class='active'>Задания</li>
</ol>
	<!-- кнопка нового обхода по выбранному шаблону --><!-- onclick="location.href='/checks/'" --> 
<form name = 'Form1' method = 'GET' target ='_top'>
	{% csrf_token %}
	<table class = 'table table-hover'>
		<tr>
			<td>Задание</td>
		</tr>
		<!-- даты обходов -->
		{% for task in tasks %}
			<tr>
				<td>{{ task.task }}</td>
			</tr>		
		{% endfor %}
	</table>
	
</form>
</body>
{% endblock %}