{% extends 'base.html' %}

{% block title %} Даты обходов {% endblock %}

{% block chapter %}
{% endblock%}

{% block content %}
<body>
<ol class="breadcrumb">
  	<li><a href='/checks/'>Обходы</a></li>
  	<li><a href='/checks/{{ check.id }}/dates/'>{{ check }}</a></li>
  	<li class='active'>Задания</li>
</ol>
<h3>{{ check }}</h3>
<!-- добавить задание-->
<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><strong>Добавить задание</strong></button></p>
	<!-- таблица дат обходов -->
	<table class = 'table table-hover'>
		<tr>
			<th>Задание</th>
		</tr>
		<!-- даты обходов -->
		{% for task in tasks %}
			<tr>
				<td>{{ task.task }}</td>
			</tr>		
		{% endfor %}
	</table>
	<!-- Новое задание -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-body">
      				<form id="Task_form" action="" method="post">{% csrf_token %}
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="form-signin-heading">Введите название задания</h3>
						<input type="text" class="form-control" name='task' required autofocus>
      			</div>
      			<div class="modal-footer">
      				<input type="submit" class="btn btn-primary" value='Сохранить'>
        			<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        			</form>
      			</div>
    		</div>
  		</div>
	</div>	
</body>
{% endblock %}